<title>LevyScript | Home</title>
<br><br>


	<style>
		body {
			background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/dejrji3-f0dfbf31-958c-4701-9e10-fcea6d2ff693.jpg/v1/fill/w_1192,h_670,q_70,strp/purple_midnight_by_bisbiswas_dejrji3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGVqcmppMy1mMGRmYmYzMS05NThjLTQ3MDEtOWUxMC1mY2VhNmQyZmY2OTMuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.f4LKY-NudHhtj8GSn-R9XSyK5fshhE3LEeGeVYDAjpc) no-repeat fixed;
			background-size: 100%;
		}
	</style>














<main class="text-center text-light" style="display: flex;min-height: calc(100vh - 188px);align-items: center; justify-content: center">
        <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://i.imgur.com/WYHNIYl.jpeg">
                <h1 style="font-weight: bold; color: #06edcc;">LevyScript</h1>
                <h4>Welcome</h4>
                <br>
                <a type="button" href="https://youtube.com/@2xlevy" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-youtube"></i><b> YouTube</b></a>
                <a type="button" href="/davet" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-discord"></i><b> Discord</b></a>
                <a type="button" href="https://discordapp.com/users/1091010132567146626" target="_blank" class="btn btn-light"><i style="color:black" class="fas fa-envelope"></i> <b>Contact</b></a>
                <a type="button" href="/sss" class="btn btn-light"><i class="fas fa-info-circle"></i> <b>İnfo</b></a>
        </div>
  <div class="wave wave1"></div>
</main>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<!-- KAR--> <script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script> <!-- KAR-->

<!--End of Tawk.to Script-->
<noscript>
<h1 style="font-weight: bold; color: #7289d8;">There are JavaScript codes on the site. To access the site, please disable JavaScript blocking.
  </h1>
</noscript>
<!-- OnlineKisi.com Code Start  -->




<div align="center"> <table style="width: 250px; height: 223px" height="223" cellspacing="0" cellpadding="0" width="250" align="center" background="http://i11.piczo.com/view/2/s/d/0/b/l/3/l/n/v/4/9/img/i298382741_18956_5.jpg"> <tr> <td valign="top" height="36"> <p align="left"> </p> </td> </tr> <tr> <td valign="top" height="174"> <p align="center"><font color="#ffffff"><marquee style="width: 213px; height: 170px" scrollamount="1" scrolldelay="10" direction="up" top="0" left="5" onmouseout="this.start();" onmouseover="this.stop();"> <p align="center">-------Levy Script------<br /> <br /> The best!<br /> <br /> -------LevyScript-------</p></marquee></font></p> </td> </tr> <tr> <td valign="top" width="250" height="13"> <p align="center"><font color="#ff0000" size="1"><a href=""> <font color="#FF0000"></font></a></font></p> </td> </tr> </table>
  
  
  
  


  
  
  
  
  
  
  
  
  
  

