	<style>
		body {
			background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/dejrji3-f0dfbf31-958c-4701-9e10-fcea6d2ff693.jpg/v1/fill/w_1192,h_670,q_70,strp/purple_midnight_by_bisbiswas_dejrji3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGVqcmppMy1mMGRmYmYzMS05NThjLTQ3MDEtOWUxMC1mY2VhNmQyZmY2OTMuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.f4LKY-NudHhtj8GSn-R9XSyK5fshhE3LEeGeVYDAjpc) no-repeat fixed;
			background-size: 100%;
		}
	</style>


  <title>Gang Gang | Yetkililerimiz</title>
<br><br><br>
<div id="discordcard" class="container">
<h1 style="color: #fff;">
<i class="fas fa-handshake"></i> Yetkililerimiz
  </h1>
  <div class="vcodes_divider"></div>
    <div class="row pt-5 m-auto">
      
      
      <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://keonresim.glitch.me/files/file-1721559650237.png")></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #ffafaf">
            <img class="img-fluid" src="https://cdn.discordapp.com/avatars/1091010132567146626/3bf17853edce09d4b4f719c036e7bffb.png?size=1024" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">Kurucu</h2>
            <p class="card-text text-muted">Sitenin Kurucusu.</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i>@l2vy</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="https://gangsgang.glitch.me/profil/1091010132567146626" title="L2VY" class="btn btn-outline-primary"> Profil</a>
          </div>
        </div>
      </div>
      

      

      
      
    </div>
  </div>
<!--Start of Tawk.to Script-->
<!-- KAR--> <script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script> <!-- KAR-->

<!--End of Tawk.to Script-->

