
	<style>
		body {
			background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/dejrji3-f0dfbf31-958c-4701-9e10-fcea6d2ff693.jpg/v1/fill/w_1192,h_670,q_70,strp/purple_midnight_by_bisbiswas_dejrji3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGVqcmppMy1mMGRmYmYzMS05NThjLTQ3MDEtOWUxMC1mY2VhNmQyZmY2OTMuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.f4LKY-NudHhtj8GSn-R9XSyK5fshhE3LEeGeVYDAjpc) no-repeat fixed;
			background-size: 100%;
		}
	</style>






<title>LevyScript | Information</title>

<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://i.imgur.com/WYHNIYl.jpeg">
      </div>
      <h1 class="text-light font-weight-light">LevyScript İnformation</h1>
    </div><br>
      

        <h3 class="text-danger">Frequently Asked Questions (FAQs)</h3>
    <hr>
      </li>
      <li>To view the codes/scripts, you must have the required roles. To gain access to these roles, you need to meet the requirements in our Discord server.</li>
      <li>Those who boost the server can view all the codes.</li>
      <li>To get a role You can contact <kbd>@l2vy</kbd> or <a style="text-decoration:none" href="/davet" target="_blank">Join Discord</a>!

  </h5>.</li>
     <li>If you are experiencing an issue, you can get help through the <a href="https://discord.com/channels/1235189205571866655/1265379441652269118" target="_blank">#📧・Ticket</a> Ticket Channel </li>

    </ul><br>
     <h3 class="text-danger">İnformation</h3>
    <hr>
  
      <li class="text-light font-weight-light">On our website, you can also share your own codes (Trolls will be blacklisted and will no longer be able to share codes).</li>
      <li class="text-light font-weight-light">You must click the "Log In" option located in the top right corner of the site to log in.</li>
      <br>
      <li class="text-light font-weight-light">After logging in, you will be able to view the codes you have permission to access.</li>
      <li class="text-light font-weight-light">By logging into our site, you can view Roblox scripts and the codes shared by others.</li>
      
      <br>
      <li class="text-light font-weight-light">
        To have access to code roles, you must meet certain requirements in our server.
        <ul>
          <li class="text-light font-weight-light"><b> Roblox Script:</b> It is sufficient to subscribe to the channel.</li>
                    <li class="text-light font-weight-light"><b>Public:</b> All you need to do is get the Public Role from the server.</li>

          <li class="text-light font-weight-light"><b>Public:</b> All you need to do is get the Public Role from the server.</li>
          <li class="text-light font-weight-light"><b>Exclusive codes:</b> Locked, can only be viewed with authorized permission.</li>
          
          
        </ul>
      </li>      
    </ul>
    <br>
     <h3 class="text-danger">Steps you need to take to access the codes</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light">You need to join our <a href="/davet" target="_blank">Discord server</a>.
      <li class="text-light font-weight-light">You need to <a href="/giris" target="_blank">log in with your Discord account</a>.
      <li class="text-light font-weight-light">
        To view the categories: 
        <ul>
          <li class="text-light font-weight-light"><b>Roblox Script:</b> It is sufficient to subscribe to the channel.</li>
          <li class="text-light font-weight-light"><b>Public:</b>All you need to do is get the Public Role from the server.</li>
          <li class="text-light font-weight-light"><b>Exclusive codes:</b> Locked, can only be viewed with authorized permission.</li>
          
          
</li>
        </ul>
      </li>
      
       <h3 class="text-danger">One of your moderators shared my code without permission?</h3>
    <hr>
    <ul>
<li>In such a case, it will be enough to contact moderators or higher-level personnel. You can handle the remaining matters with them.</li>
    </ul>
    <hr>
    </p>
  </div>
</main>
<!--Start of Tawk.to Script-->
<!-- KAR--> <script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script> <!-- KAR-->

<!--End of Tawk.to Script-->
